     #start {
         margin-top: 20px;
         text-align: center;
     }
     
     #highLow,
     #score {
         display: none;
     }
     
     #cards {
         margin-top: 30px;
         height: 240px;
         margin-left: 30px;
     }

    #deck{
        margin-top: 20px;
    
    }

    h1{ height: 90px;
        text-align: center;
        text-shadow: 5px 5px #558ABB;
        font-size: 60px;
        font-family: fantasy;
        color:black;
        background-color:#def;
        background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
        background-size:40px 80px;
        background-position:0 0, 20px 30px;
        animation-name: headerChange;
        animation-duration: 60s;
        animation-iteration-count: infinite;

     }
     
     .icard {
         padding: 10px;
         height: 200px;
         width: 150px;
         border: 1px double black;
         border-radius: 14px;
         background-color: white;
         position: absolute;
         display: inline-block;
         left: 30px;
     }
 
     .icardBack1 {
         padding: 10px;
         height: 200px;
         width: 150px;
         border: 1px solid black;
         border-radius: 14px;
         position: absolute;
         display: inline-block;
         left: 30px;
         background:
             
            linear-gradient(324deg, red 4%,   transparent 4%) -64px 47px,
             linear-gradient( 36deg, red 4%,   transparent 4%) 36px 47px,
             linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 36px 47px,
             linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -64px 47px,
             linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -64px 27px,
             linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 36px 27px,

            linear-gradient(324deg, red 4%,   transparent 3%) -14px 97px,
             linear-gradient( 36deg, red 4%,   transparent 3%) 86px 97px,
             linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 86px 97px,
             linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -14px 97px,
             linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -14px 77px,
             linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 86px 77px;
         background-color: red;
         background-size: 100px 100px;
     }

     .icardBack2 {
         padding: 10px;
         height: 200px;
         width: 150px;
         border: 1px solid black;
         border-radius: 14px;
         position: absolute;
         display: inline-block;
         left: 30px;
         background-color: black;
         background-image:
         radial-gradient(white, rgba(155,255,255,.2) 2px, transparent 40px),
         radial-gradient(white, rgba(155,255,255,.15) 1px, transparent 30px),
         radial-gradient(white, rgba(255,155,255,.1) 2px, transparent 40px),
         radial-gradient(rgba(255,155,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
         background-size: 110px 110px, 30px 30px, 150px 150px, 10px 10px; 

     }

     .icardBack0 {
         padding: 10px;
         height: 200px;
         width: 150px;
         border: 1px solid black;
         border-radius: 14px;
         position: absolute;
         display: inline-block;
         left: 30px;
         background: #36c;
         background: 
             linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
             linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
             linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
             linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
             #36c;
         background-size: 15px 30px
     }

     .wands .suit::after {
         content: '\2624';
     }
     
     .swords .suit::after {
         content: '\2020';
     }
     
     .cups .suit::after {
         content: '\2615';
     }
     
     .pents .suit::after {
         content: '\272A';
     }

     
     .wands,
     .swords,
     .cups,
     .pents,{
         color: black;
     }
     
     .arcana {
         color: red;
     }
     
     .cardtop {
         font-size: 1em;
         top: 5px;
         left: 5px;
         position: absolute;
         line-height: 0.7em;
     }
     
     .cardmid {
         text-align: center;
         font-size: 1em;
         position: absolute;
         top: 20px;
         left: 40px;
     }
     
     .cardbottom {
         line-height: 0.7em;
         font-size: 1em;
         transform: rotate(-180deg);
         -webkit-transform: rotate(-180deg);
         -moz-transform: rotate(-180deg);
         -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
         bottom: 5px;
         right: 5px;
         position: absolute;
     }
     
     .btn {
         border-radius: 5px;
         padding: 9px 20px;
         color: white;
         display: inline-block;
         text-align: center;
         text-shadow: 1px 1px #000000;
     }
     
     #btnstart {
         background-color: black;
     }
     
     #btnhigh {
         background-color: red;
     }
     
     #btnlow {
         background-color: blue;
     }
     
     #dollars {
         font-size: 2.5em;
     }
     
     #message {
         text-align: center;
     }

    .rotate180 {
      -webkit-transform:rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    @keyframes headerChange {
        0% {background-size:5px 5px;}
        50% {background-size:100px 80px; background-color: firebrick;}
        100% {background-size:5px 5px;}
    }