     #start {
         margin-top: 20px;
         text-align: center;
     }
     
     #highLow,
     #score {
         display: none;
     }
     
     #cards {
         margin-top: 30px;
         height: 240px;
         margin-left: 30px;
     }

    #deck{
        margin-top: 20px;
    
    }

    h1{ height: 90px;
        text-align: center;
        text-shadow: 5px 5px #558ABB;
        font-size: 60px;
        font-family: fantasy;
        color:black;
        background-color:#def;
        background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
        background-size:40px 80px;
        background-position:0 0, 20px 30px;
        animation-name: headerChange;
        animation-duration: 60s;
        animation-iteration-count: infinite;

     }
     
     .icard {
         padding: 10px;
         height: 200px;
         width: 150px;
         border: 1px solid black;
         border-radius: 14px;
         background-color: white;
         position: absolute;
         display: inline-block;
         left: 30px;
     }
 
     .icardBack {
         padding: 10px;
         height: 200px;
         width: 150px;
         border: 1px solid black;
         border-radius: 14px;
         position: absolute;
         display: inline-block;
         left: 30px;
         background:
            linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
             linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
             linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
             linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
             linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
             linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

            linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
             linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
             linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
             linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
             linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
             linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
         background-color: #232927;
         background-size: 100px 100px;
     }


     .wands .suit::after {
         content: '\2624';
     }
     
     .swords .suit::after {
         content: '\2020';
     }
     
     .cups .suit::after {
         content: '\2615';
     }
     
     .pents .suit::after {
         content: '\272A';
     }

     
     .wands,
     .swords,
     .cups,
     .pents,{
         color: black;
     }
     
     .arcana {
         color: red;
     }
     
     .cardtop {
         font-size: 1em;
         top: 5px;
         left: 5px;
         position: absolute;
         line-height: 0.7em;
     }
     
     .cardmid {
         text-align: center;
         font-size: 1em;
         position: absolute;
         top: 20px;
         left: 40px;
     }
     
     .cardbottom {
         line-height: 0.7em;
         font-size: 1em;
         transform: rotate(-180deg);
         -webkit-transform: rotate(-180deg);
         -moz-transform: rotate(-180deg);
         -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
         bottom: 5px;
         right: 5px;
         position: absolute;
     }
     
     .btn {
         border-radius: 5px;
         padding: 9px 20px;
         color: white;
         display: inline-block;
         text-align: center;
         text-shadow: 1px 1px #000000;
     }
     
     #btnstart {
         background-color: black;
     }
     
     #btnhigh {
         background-color: red;
     }
     
     #btnlow {
         background-color: blue;
     }
     
     #dollars {
         font-size: 2.5em;
     }
     
     #message {
         text-align: center;
     }

    .rotate180 {
      -webkit-transform:rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    @keyframes headerChange {
        0% {background-size:5px 5px;}
        50% {background-size:100px 80px; background-color: firebrick;}
        100% {background-size:5px 5px;}
    }